@charset "UTF-8";
*{
    font-family: "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 16px;
    color: #000;
}
input[type="text"],input[type="email"],select,textarea{
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
a{
    &.hoverTdu:hover{
        text-decoration: underline;
    }
}
.wrap{
    max-width: 100%;
    width: 1024px;
    margin: 0 auto;
}
.flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &.betweenCenter{
        justify-content: space-between;
        align-items: center;
    }
    &.betweenStart{
        justify-content: space-between;
        align-items: flex-start;
    }
    &.betweenEnd{
        justify-content: space-between;
        align-items: flex-end;
    }
    &.startStart{
        justify-content: flex-start;
        align-items: flex-start;
    }
    &.startCenter{
        justify-content: flex-start;
        align-items: center;
    }
    &.centerCenter{
        justify-content: center;
        align-items: center;
    }
    &.centerStart{
        justify-content: center;
        align-items: flex-start;
    }
    &.endCenter{
        justify-content: flex-end;
        align-items: center;
    }
    &.nowrap{
        flex-wrap: nowrap;
    }
}
.pc{
    display: block;
}
.pcIpt{
    display: block!important;
}
.pcFlex{
    display: flex;
}
.pcIbk{
    display: inline-block;
}
.pc-tab{
    display: block;
}
.tab-sp{
    display: none;
}
.tab-spIpt{
    display: none!important;
}
.sp{
    display: none;
}
.spIpt{
    display: none!important;
}
img,iframe{
    max-width: 100%;
    height: auto;
}
.img100pParent{
    img{
        width: 100%;
    }
    iframe{
        width: 100%;
    }
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}
.tal{
    text-align: left;
}
.dispBlk{
    display: block;
}
.dispInl{
    display: inline;
}
.dispIbk{
    display: inline-block;
}
.dispNon{
    display: none;;
}
.ofHdn{
    overflow: hidden;
}
.ptwNon{
    pointer-events: none;
}
@media screen and (max-width: 1024px){
    .pc{
        display: none;
    }
    .pcIpt{
        display: none!important;
    }
    .pcFlex{
        display: none;
    }
    .pcIbk{
        display: none;
    }
    .pc-tab{
        display: block;
    }
    .tab-sp{
        display: block;
    }
    .tab-spIpt{
        display: block!important;
    }
    .sp{
        display: none;
    }
    .spIpt{
        display: none!important;
    }
    .spTac{
        text-align: center;
    }
    @media screen and (max-width: 767px){
        .spFlexCancel{
            display: block;
            width: 100%;
        }
        .pc{
            display: none;
        }
        .pcIpt{
            display: none!important;
        }
        .pc-tab{
            display: none;
        }
        .tab-sp{
            display: block;
        }
        .sp{
            display: block;
        }
        .spIpt{
            display: block!important;
        }
        .spDipBlk{
            display: block;
        }
        .spDipNone{
            display: none;
        }
        .spTal{
            text-align: left;
        }
    }
}
// margin
.mgt25p{
    margin-top: 25%;
}
.mgt28p{
    margin-top: 28%;
}
.mgt10px{
    margin-top: 10px;
}
.mgt20px{
    margin-top: 20px;
}
.mgt30px{
    margin-top: 30px;
}
.mgt40px{
    margin-top: 40px;
}
.mgt50px{
    margin-top: 50px;
}
.mgt60px{
    margin-top: 60px;
}
.mgt70px{
    margin-top: 70px;
}
.mgt80px{
    margin-top: 80px;
}
.mgt-40px{
    margin-top: -40px;
}
.mgr10px{
    margin-right: 10px;
}
.mgr20px{
    margin-right: 20px;
}
.mgr30px{
    margin-right: 30px;
}
.mgr5p{
    margin-right: 5%;
}
.mgr3nNonParent{
    > *:nth-child(3n){
        margin-right: 0;
    }
}
.mgb3px{
    margin-bottom: 3px;
}
.mgb5px{
    margin-bottom: 5px;
}
.mgb10px{
    margin-bottom: 10px;
}
.mgb15px{
    margin-bottom: 15px;
}
.mgb20px{
    margin-bottom: 20px;
}
.mgb25px{
    margin-bottom: 25px;
}
.mgb30px{
    margin-bottom: 30px;
}
.mgb35px{
    margin-bottom: 35px;
}
.mgb40px{
    margin-bottom: 40px;
}
.mgb45px{
    margin-bottom: 45px;
}
.mgb50px{
    margin-bottom: 50px;
}
.mgb55px{
    margin-bottom: 55px;
}
.mgb60px{
    margin-bottom: 60px;
}
.mgb65px{
    margin-bottom: 65px;
}
.mgb70px{
    margin-bottom: 70px;
}
.mgb75px{
    margin-bottom: 75px;
}
.mgb80px{
    margin-bottom: 80px;
}
.mgb85px{
    margin-bottom: 85px;
}
.mgb90px{
    margin-bottom: 90px;
}
.mgb95px{
    margin-bottom: 95px;
}
.mgb100px{
    margin-bottom: 100px;
}
.mgb-50px{
    margin-bottom: -50px;
}
.mgl10px{
    margin-left: 10px;
}
.mgl20px{
    margin-left: 20px;
}
.mgl30px{
    margin-left: 30px;
}
.mgx5px{
    margin-left: 5px;
    margin-right: 5px;
}
.mgx10px{
    margin-left: 10px;
    margin-right: 10px;
}
.mgx20px{
    margin-left: 20px;
    margin-right: 20px;
}
.mgx30px{
    margin-left: 30px;
    margin-right: 30px;
}
.mg0Auto{
    margin: 0 auto;
}
.mg30pxAuto0{
    margin: 30px auto 0;
}
.mg60pxAuto0{
    margin: 60px auto 0;
}
.mg0Auto10px{
    margin: 0 auto 10px;
}
.mg0Auto50px{
    margin: 0 auto 50px;
}
.mg0Auto80px{
    margin: 0 auto 80px;
}
@media screen and (max-width: 767px){
    .spMgt50px{
        margin-top: 50px;
    }
    .spMgr0{
        margin-right: 0;
    }
    .spMgb10px{
        margin-bottom: 10px;
    }
    .spMgb20px{
        margin-bottom: 20px;
    }
    .spMgb30px{
        margin-bottom: 30px;
    }
    .spMgb40px{
        margin-bottom: 40px;
    }
    .spMg0Auto{
        margin: 0 auto;
    }
}
//padding
.pdt10px{
    padding-top: 10px;
}
.pdt20px{
    padding-top: 20px;
}
.pdt30px{
    padding-top: 30px;
}
.pdt40px{
    padding-top: 40px;
}
.pdt50px{
    padding-top: 50px;
}
.pdt60px{
    padding-top: 60px;
}
.pdt70px{
    padding-top: 70px;
}
.pdt80px{
    padding-top: 80px;
}
.pdt200px{
    padding-top: 200px;
}
.pdt1em{
    padding-top: 1em;
}
.pdr10px{
    padding-right: 10px;
}
.pdr20px{
    padding-right: 20px;
}
.pdr30px{
    padding-right: 30px;
}
.pdb10px{
    padding-bottom: 10px;
}
.pdb20px{
    padding-bottom: 20px;
}
.pdb30px{
    padding-bottom: 30px;
}
.pdb40px{
    padding-bottom: 40px;
}
.pdb50px{
    padding-bottom: 50px;
}
.pdb60px{
    padding-bottom: 60px;
}
.pdb70px{
    padding-bottom: 70px;
}
.pdb80px{
    padding-bottom: 80px;
}
.pdl10px{
    padding-left: 10px;
}
.pdl20px{
    padding-left: 20px;
}
.pdl26px{
    padding-left: 26px;
}
.pdl30px{
    padding-left: 30px;
}
.pdl40px{
    padding-left: 40px;
}
.pd1em{
    padding: 1em;
}
.pd10px{
    padding: 10px;
}
.pd20px{
    padding: 20px;
}
.pd30px{
    padding: 30px;
}
.pd40px{
    padding: 40px;
}
.pd50px{
    padding: 50px;
}
.pdx-8em{
    padding-right: .8em;
    padding-left: .8em;
}
.pdx1em{
    padding-right: 1em;
    padding-left: 1em;
}
.pdx10px{
    padding-right: 10px;
    padding-left: 10px;
}
.pdx20px{
    padding-right: 20px;
    padding-left: 20px;
}
.pdx30px{
    padding-right: 30px;
    padding-left: 30px;
}
.pdx40px{
    padding-right: 40px;
    padding-left: 40px;
}
.pdx50px{
    padding-right: 50px;
    padding-left: 50px;
}
.pdx100px{
    padding-right: 100px;
    padding-left: 100px;
}
.pdy4px{
    padding-top: 4px;
    padding-bottom: 4px;
}
.pdy5px{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pdy10px{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pdy15px{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pdy20px{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pdy30px{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pdy40px{
    padding-top: 40px;
    padding-bottom: 40px;
}
.pdy50px{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pdy80px{
    padding-top: 80px;
    padding-bottom: 80px;
}
.pdy100px{
    padding-top: 100px;
    padding-bottom: 100px;
}
.pdy-5em{
    padding-top: .5em;
    padding-bottom: .5em;
}
.pdy1em{
    padding-top: 1em;
    padding-bottom: 1em;
}
@media screen and (max-width: 767px){
    .spPdt5px{
        padding-top: 5px;
    }
    .spPdt40px{
        padding-top: 40px;
    }
    .spPdt100px{
        padding-top: 100px;
    }
    .spPdl20px{
        padding-left: 20px;
    }
    .spPd0{
        padding: 0;
    }
    .spPd10px{
        padding: 10px;
    }
    .spPd20px{
        padding: 20px;
    }
    .spPd30px{
        padding: 30px;
    }
    .spPd40px{
        padding: 40px;
    }
    .spPdx0{
        padding-right: 0;
        padding-left: 0;
    }
    .spPdb40px{
        padding-bottom: 40px;
    }
    .spPdx20px{
        padding-right: 20px;
        padding-left: 20px;
    }
    .spPdx30px{
        padding-right: 30px;
        padding-left: 30px;
    }
    .spPdx40px{
        padding-right: 40px;
        padding-left: 40px;
    }
    .spPdy20px{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .spPdy40px{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .spPdy50px{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .spPdy80px120px{
        padding-top: 80px;
        padding-bottom: 120px;
    }
}
// font
.fwb{
    font-weight: bold;
}
.fwn{
    font-weight: normal;
}
.fwl{
    font-weight: lighter;
}
.fsi{
    font-style: italic;
}
.fz2em{
    font-size: 2em;
}
.fz3em{
    font-size: 3em;
}
.fz10px{
    font-size: 10px;
}
.fz11px{
    font-size: 11px;
}
.fz12px{
    font-size: 12px;
}
.fz13px{
    font-size: 13px;
}
.fz14px{
    font-size: 14px;
}
.fz15px{
    font-size: 15px;
}
.fz16px{
    font-size: 16px;
}
.fz17px{
    font-size: 17px;
}
.fz18px{
    font-size: 18px;
}
.fz19px{
    font-size: 19px;
}
.fz20px{
    font-size: 20px;
}
.fz21px{
    font-size: 21px;
}
.fz22px{
    font-size: 22px;
}
.fz23px{
    font-size: 23px;
}
.fz24px{
    font-size: 24px;
}
.fz25px{
    font-size: 25px;
}
.fz30px{
    font-size: 30px;
}
.fz36px{
    font-size: 36px;
}
.fz38px{
    font-size: 38px;
}
.fz50px{
    font-size: 50px;
}
.fz60px{
    font-size: 60px;
}
.lh-5{
    line-height: .5;
}
.lh1-5em{
    line-height: 1.5em;
}
.lh2em{
    line-height: 2em;
}
.lh25px{
    line-height: 25px;
}
.lh26px{
    line-height: 26px;
}
.lh30px{
    line-height: 30px;
}
.lh35px{
    line-height: 35px;
}
.lh40px{
    line-height: 40px;
}
.lh45px{
    line-height: 45px;
}
.lh47px{
    line-height: 47px;
}
.lh50px{
    line-height: 50px;
}
.lh55px{
    line-height: 55px;
}
.ls-02em{
    letter-spacing: .02em;
}
.ls-05em{
    letter-spacing: .05em;
}
.ls-1em{
    letter-spacing: .1em;
}
.ls-2em{
    letter-spacing: .2em;
}
.fc000{
    color: #000;
}
.fcfff{
    color: #fff;
}
.fc4c4c4c{
    color: #4c4c4c;
}
.fcb2b2b1{
    color: #b2b2b1;
}
.fc666{
    color: #666;
}
.fc8e8e8e{
    color: #8e8e8e;
}
.fcb9b9b9{
    color: #b9b9b9;
}
.fc7df1bc{
    color: #7df1bc;
}
.hvFc000{
    &:hover{
        color: #000;
    }
}
.hvFcfff{
    &:hover{
        color: #fff;
    }
}
.hvFcfcd113{
    &:hover{
        color: #fcd113;
    }
}
.tdu{
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
.phsCaaa{
    &::-webkit-input-placeholder{
        color: #ccc;
    }
    &::-moz-placeholder{
        color: #ccc;
    }
    &:-ms-input-placeholder{
        color: #ccc;
    }
}
@media screen and (max-width: 767px){
    .spFz18px{
        font-size: 18px;
    }
    .spFz25px{
        font-size: 25px;
    }
    .spFz30px{
        font-size: 30px;
    }
}
// width
.wd5p{
    width: 5%;
}
.wd7p{
    width: 7%;
}
.wd8p{
    width: 8%;
}
.wd10p{
    width: 10%;
}
.wd11p{
    width: 11%;
}
.wd12p{
    width: 12%;
}
.wd14p{
    width: 14%;
}
.wd15p{
    width: 15%;
}
.wd20p{
    width: 20%;
}
.wd25p{
    width: 25%;
}
.wd30p{
    width: 30%;
}
.wd33p{
    width: 33%;
}
.wd35p{
    width: 35%;
}
.wd40p{
    width: 40%;
}
.wd45p{
    width: 45%;
}
.wd48p{
    width: 48%;
}
.wd50p{
    width: 50%;
}
.wd55p{
    width: 55%;
}
.wd60p{
    width: 60%;
}
.wd65p{
    width: 65%;
}
.wd70p{
    width: 70%;
}
.wd100p{
    width: 100%;
}
.wd20px{
    width: 20px;
}
.wd25px{
    width: 25px;
}
.wd30px{
    width: 30px;
}
.wd50px{
    width: 50px;
}
.wd100px{
    width: 100px;
}
.wd130px{
    width: 130px;
}
.wd196px{
    width: 196px;
}
.wd216px{
    width: 216px;
}
.wd230px{
    width: 230px;
}
.wd260px{
    width: 260px;
}
.wd300px{
    width: 300px;
}
.wd350px{
    width: 350px;
}
.wd400px{
    width: 400px;
}
.wd431px{
    width: 431px;
}
.wd500px{
    width: 500px;
}
.wd600px{
    width: 600px;
}
.wd700px{
    width: 700px;
}
.wd800px{
    width: 800px;
}
.wd1024{
    width: 1024px;
}
.wd100p-240px{
    width: calc(100% - 240px);
}
.wd100p-260px{
    width: calc(100% - 260px);
}
.wdAuto{
    width: auto;
}
@media screen and (max-width: 767px){
    .spWd10p{
        width: 10%;
    }
    .spWd20p{
        width: 20%;
    }
    .spWd30p{
        width: 30%;
    }
    .spWd30p{
        width: 30%;
    }
    .spWd40p{
        width: 40%;
    }
    .spWd45p{
        width: 45%;
    }
    .spWd50p{
        width: 50%;
    }
    .spWd60p{
        width: 60%;
    }
    .spWd70p{
        width: 70%;
    }
    .spWd80p{
        width: 80%;
    }
    .spWd90p{
        width: 90%;
    }
    .spWd100p{
        width: 100%;
    }
    .spWd300p{
        width: 300%;
    }
    .spWd100px{
        width: 100px;
    }
}
// height
.ht100p{
    height: 100%;
}
.ht30px{
    height: 30px;
}
.ht35px{
    height: 35px;
}
.ht45px{
    height: 45px;
}
.ht48px{
    height: 48px;
}
.ht50px{
    height: 50px;
}
.ht55px{
    height: 55px;
}
.ht78px{
    height: 78px;
}
.ht100px{
    height: 100px;
}
.ht119px{
    height: 119px;
}
.ht146px{
    height: 146px;
}
.htAuto{
    height: auto;
}
.minHt200px{
    min-height: 200px;
}
@media screen and (max-width: 767px){
    .spHtAuto{
        height: auto;
    }
}
// background
.bgcf8f8f8{
    background-color: #f8f8f8;
}
.bgcf2f2f2{
    background-color: #f2f2f2;
}
.bgcf5f5f5{
    background-color: #f5f5f5;
}
.bgcefefef{
    background-color: #efefef;
}
.bgceee{
    background-color: #eee;
}
.bgc000{
    background-color: #000;
}
.bgcfff{
    background-color: #fff;
}
.bgc1a1a1a{
    background-color: #1a1a1a;
}
.bgcf7f7f7{
    background-color: #f7f7f7;
}
.bgc7df1bc{
    background-color: #7df1bc;
}
.bgcfcd113{
    background-color: #fcd113;
}
.hvBgcBlack{
    &:hover{
        background-color: #000;
    }
}
.hvBgc333{
    &:hover{
        background-color: #333;
    }
}
@media screen and (max-width: 767px){
}
// border
.bd1px{
    border: 1px #000 solid;
}
.bd2px{
    border: 2px #000 solid;
}
.bd3px{
    border: 3px #000 solid;
}
.bdTp10px{
    border: transparent 10px solid;
}
.bdt1px{
    border-top: 1px #000 solid;
}
.bdr1px{
    border-right: 1px #000 solid;
}
.bdl1px{
    border-left: 1px #000 solid;
}
.bdb1px{
    border-bottom: 1px #000 solid;
}
.bdb2px{
    border-bottom: 2px #000 solid;
}
.bdb3px{
    border-bottom: 3px #000 solid;
}
.bdb6px{
    border-bottom: 6px #000 solid;
}
.hvBdb4px:hover{
    border-bottom: 4px #000 solid;
}
.jsHvBdb4px{
    border-bottom: 4px #000 solid;
}
.bdcccc{
    border-color: #ccc;
}
.bdcfff{
    border-color: #fff;
}
.bdcc9c9c9{
    border-color: #c9c9c9;
}
.bdc7df1bc{
    border-color: #7df1bc;
}
.bdc333{
    border-color: #333;
}
.br2px{
    border-radius: 2px;
}
.br3px{
    border-radius: 3px;
}
.br5px{
    border-radius: 5px;
}
.br50p{
    border-radius: 50%;
}
@media screen and (max-width: 767px){
    .spBdNone{
        border: none;
    }
    .spBdrNone{
        border-right: none;
    }
    .spMdbNone{
        border-bottom: none;
    }
}
// position
.ptr{
    position: relative;
}
.pta{
    position: absolute;
}
.ptf{
    position: fixed;
}
.pts{
    position: static;
}
.tp0lt0{
    top: 0;
    left: 0;
}
.tp30p{
    top: 30%;
}
.tp-10px{
    top: -10px;
}
.tp-20px{
    top: -20px;
}
.tp-30px{
    top: -30px;
}
.tp5px{
    top: 5px;
}
.tp10px{
    top: 10px;
}
.tp13px{
    top: 13px;
}
.tp21px{
    top: 21px;
}
.tp23px{
    top: 23px;
}
.tp30px{
    top: 30px;
}
.tp35px{
    top: 35px;
}
.tp50px{
    top: 50px;
}
.tp55px{
    top: 55px;
}
.tp83px{
    top: 83px;
}
.tp86px{
    top: 86px;
}
.tp105px{
    top: 105px;
}
.tp110px{
    top: 110px;
}
.tp113px{
    top: 113px;
}
.rt-100px{
    right: -100px;
}
.rt20px{
    right: 20px;
}
.rt100px{
    right: 100px;
}
.lt0{
    left: 0;
}
.lt-30px{
    left: -30px;
}
.lt10px{
    left: 10px;
}
.lt20px{
    left: 20px;
}
.lt30px{
    left: 30px;
}
.lt40px{
    left: 40px;
}
.lt50px{
    left: 50px;
}
.lt65px{
    left: 65px;
}
.jsHvRt15px{
    right: 15px;
}
.rt5px{
    right: 5px;
}
.rt10px{
    right: 10px;
}
.rt20px{
    right: 20px;
}
.rt30px{
    right: 30px;
}
.rt40px{
    right: 40px;
}
.bm0{
    bottom: 0;
}
.bm10px{
    bottom: 10px;
}
.bm20px{
    bottom: 20px;
}
.bm30px{
    bottom: 30px;
}
.bm40px{
    bottom: 40px;
}
.bm-25px{
    bottom: -25px;
}
.bm-30px{
    bottom: -30px;
}
.zIndex0{
    z-index: 0;
}
.zIndex1{
    z-index: 1;
}
.zIndex2{
    z-index: 2;
}
.zIndex3{
    z-index: 3;
}
@media screen and (max-width: 767px){
    .spPtf{
        position: fixed;
    }
    .spPts{
        position: static;
    }
    .spTp0lt0{
        top: 0;
        left: 0;
    }
    .spBm80px{
        bottom: 80px;
    }
    .spTp15p{
        top: 15%;
    }
    .spLtNon{
        left: auto;
    }
    .spRt10px{
        right: 10px;
    }
    .spRt20px{
        right: 20px;
    }
}
//その他
.resizeNone{
    resize: none;
}
.bxShadowCancel{
    box-shadow: none;
}
.hvImgParent{
    img{
        width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    &:hover{
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.vam{
    vertical-align: middle;
}
.opacity-8{
    opacity: .8;
}
.hvOpacity-8{
    &:hover{
        opacity: .8;
    }
}
.ofxs{
    overflow-x: scroll;
}
.cspt{
    cursor: pointer;
}
.floatRt{
    float: right;
}
@media screen and (max-width: 767px){
    .spOfxs{
        overflow-x: scroll;
    }
}
